<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/registerUser" method="post" class="form">
            <h1>Register Now</h1>
            <div class="name-con">
                <label for="name">Name:</label>
                <input type="text" name="name" class="name" placeholder="enter your name here" required>
            </div>
            <div class="email-con">
                <label for="email">Email:</label>
                <input type="email" name="email" class="email" placeholder="enter your email here" required>
            </div>
            <div class="pass-con">
                <label for="password">Password:</label>
                <input type="password" name="password" class="password" placeholder="enter password" required>
            </div>
            <button type="submit">Login</button>
        </form>
       </main>
</body>
</html>